// # SHORT HOWTO
// ## Sprites
// .whatever
//+sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
// +include keyframes(rotate)
//from
// +rotate(0)
//to
// +rotate(360)
// ## animation usage
// body:hover
// 	+animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
// transition: all 1.2s ceaser($ease-in)
// ## gradient example
// +background-image(linear-gradient(#232323, #5c5c5c))
// +g(#232323, #5c5c5c)
//	 horizontal
// +gh(#232323, #5c5c5c)
// ## making bw-images
// img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
// +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
// @for $i from 1 through 3
// .item-#{$i}
//			width: 2em * $i
// @each $s in a,b,c
// 		#{$s}
//				display: none
// ## fontsP
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

//fonts
+font(roboto-regular, roboto-regular)
+font(roboto-light, roboto-light)
+font(roboto-light-italic, roboto-light-italic)
+font(roboto-condensed-light, roboto-condensed-light)
+font(roboto-medium, roboto-medium)
+font(roboto-bold, roboto-bold)
+font(robotoslab-regular, robotoslab-regular)
+font(robotoslab-bold, robotoslab-bold)
+font(robotoslab-light, robotoslab-light)
+font(opensans, opensans)
+font(opensans-bold, opensans-bold)
+font(nautilus, nautilus)
+font(badscript, badscript)

=rob
	font-family: "roboto-regular", Arial, sans-serif
=rob-l
	font-family: "roboto-light", Arial, sans-serif
=rob-li
	font-family: "roboto-light-italic", Arial, sans-serif
=rob-cl
	font-family: "roboto-condensed-light", Arial, sans-serif
=rob-m
	font-family: "roboto-medium", Arial, sans-serif
=rob-b
	font-family: "roboto-bold", Arial, sans-serif
=slab-b
	font-family: "robotoslab-bold", Arial, sans-serif
=slab-l
	font-family: "robotoslab-light", Arial, sans-serif
=slab-r
	font-family: "robotoslab-regular", serif
=op
	font-family: "opensans", Arial, sans-serif
=op-b
	font-family: "opensans-bold", Arial, sans-serif
=op-bi
	font-family: "opensans-bold-italic", Arial, sans-serif
=nautilus
	font-family: "nautilus", Arial, sans-serif
=script
	font-family: "badscript", Arial, sans-serif

html, body
	height: 100%

body
	font-family: Arial, sans-serif
	font-size: 12px
	line-height: 1.4
	&.is-overflow
		overflow: hidden
	&.is-full
		.footer
			min-width: 970px
			height: 100px

.out
	position: relative
	min-width: 970px
	&.is-loading
		height: 100%
		min-height: 850px
		margin-bottom: -100px
		.header
			position: absolute
			top: 0
			left: 0
			right: 0
			z-index: 2
		.container
			height: 100%
		.content
			height: 100%
			padding-top: 120px
			background: url(../img/popup-bg.jpg) top center no-repeat
			background-color: #5bb7d4
			+box
			&.is-loading
				background: none
				background-color: #a0aeb3
	&.is-inner
		min-width: 1200px

//layout
.container
	position: relative
	min-height: 500px

.l-wide
	width: 1000px
	margin: 0 auto

.l-center
	width: 970px
	margin: 0 auto

// common blocks
h1, h2, h3, h4, h5, h6, strong, b
	font-weight: normal
	line-height: 1

a
	text-decoration: underline
	color: #71C6E1
	&:hover
		text-decoration: none
	&:visited
		color: #9D35CE

.h1
	text-align: center
	font-size: 33px
	color: #2f5a71
	+nautilus

.h2
	margin-bottom: 15px
	text-align: center
	text-transform: uppercase
	font-size: 15px
	color: #5DC1E8
	+slab-b
	span, [class^="icon-"], [class*=" icon-"]
		display: inline-block
		vertical-align: middle

.h3
	margin-bottom: 15px
	text-align: center
	font-size: 24px
	color: #5DC1E8
	+nautilus
	span
		position: relative
		padding-right: 40px
		&:before
			content: ""
			position: absolute
			bottom: 10px
			left: 100%
			width: 1000px
			height: 1px
			background: #5dc1e8

.h4
	text-align: center
	margin-bottom: 20px
	font-size: 14px
	color: #2F5A71
	+slab-b
	span, [class^="icon-"], [class*=" icon-"]
		display: inline-block
		vertical-align: middle
	&.is-middle
		display: inline-block
		vertical-align: middle

.onleft
	float: left
.onright
	float: right

.index-list
	margin: 50px
	a
		font-size: 18px
		color: #5DC1E8
		&:hover
			text-decoration: underline

//inline-block elements
.item-wrap
	font-size: 0
	margin: 30px auto 0
	&.max-width
		max-width: 490px
	.item__bl
		position: relative
		display: inline-block
		width: 131px
		height: 80px
		margin: 0 15px 30px
		background-color: #E3F8FF
		border-radius: 3px
		vertical-align: top
		border: 1px solid #8dc8df
		white-space: nowrap
		+box
		+vertical
		+transition(background 0.2s ease, border-color 0.2s ease)
		&.no-bg
			background: none
			border-color: #DCE6E6
			&:hover,
			&.active
				background: none
				border-color: #5dc1e8
				span
					color: #2F5A71
		&:hover,
		&.active
			background: #5dc1e8
			span
				color: #fff
			.it
				background-image: url(../img/svg/it-h.svg) !important
			.auto
				background-image: url(../img/svg/auto-h.svg) !important
			.bank
				background-image: url(../img/svg/bank-h.svg) !important
			.waiter
				background-image: url(../img/svg/waiter-h.svg) !important
			.security
				background-image: url(../img/svg/security-h.svg) !important
			.sale
				background-image: url(../img/svg/sale-h.svg) !important
			.account
				background-image: url(../img/svg/account-h.svg) !important
			.deputy
				background-image: url(../img/svg/deputy-h.svg) !important
			.design
				background-image: url(../img/svg/design-h.svg) !important
			.production
				background-image: url(../img/svg/production-h.svg) !important
			.restaurant
				background-image: url(../img/svg/restaurant-h.svg) !important
			.realty
				background-image: url(../img/svg/realty-h.svg) !important
			.logistic
				background-image: url(../img/svg/logistic-h.svg) !important
			.medicine
				background-image: url(../img/svg/medicine-h.svg) !important
			.oil
				background-image: url(../img/svg/oil-h.svg) !important
			.transport
				background-image: url(../img/svg/transport-h.svg) !important
			.tourism
				background-image: url(../img/svg/tourism-h.svg) !important
			.guitar
				background-image: url(../img/svg/guitar-h.svg) !important
		span
			display: inline-block
			max-height: 25px
			overflow: hidden
			font-size: 14px
			vertical-align: middle
			color: #2F5A71
			line-height: 1
			+rob-b
		img
			display: inline-block
			max-width: 100%
			max-height: 100%
			vertical-align: middle
	.item__in
		display: inline-block
		vertical-align: middle
		white-space: normal
		span
			display: block
			text-transform: uppercase
			font-size: 11.5px
	.item__ico
		position: absolute
		top: 13px
		left: 50%
		margin-left: -15px
		width: 30px
		height: 30px
		background-position: center top
		background-repeat: no-repeat


.item-list-wrap
	&.is-overflow
		position: relative
		height: 125px
		overflow: hidden
		.item-list
			position: absolute
			top: 0
			left: -17px
			right: -17px
			bottom: 0
			overflow-y: auto

.item-list
	text-align: center
	list-style-type: none
	font-size: 0
	li
		display: inline-block
		margin: 0 2px
		vertical-align: middle
	.item__link
		display: block
		max-width: 515px
		padding: 4px 15px 7px
		color: #2F5A71
		font-size: 14px
		text-decoration: none
		border-radius: 3px
		+rob-b
		+box
		+transition(all 0.1s ease)
		&:hover,
		&.active
			background: #5dc1e8
			color: #FFF


//social
.social
	font-size: 0
	a
		display: inline-block
		width: 46px
		height: 46px
		margin-right: 10px
		text-align: center
		color: #fff
		border-radius: 50%
		text-align: center
		vertical-align: middle
		+vertical
		&.vk-ico
			background: #337a9e
		&.tw-ico
			background: #30c3de
		&.fb-ico
			background: #205ea4
		&.add-ico
			position: relative
			width: 17px
			height: 17px
			border: 2px solid #5dc1e8
			border-radius: 0
			color: #5dc1e8
			&:after
				content: "+"
				display: inline-block
				font-size: 16px
				line-height: 1
				+rob
	i
		display: inline-block
		font-size: 15px
		vertical-align: middle
		line-height: 1

//radiobox and checkbox
.radiobox
	display: block
	cursor: pointer
	input
		position: absolute
		width: 27px
		height: 27px
		opacity: 0
		&:checked
			+ span
				&:after
					+opacity(1)
	span
		display: inline-block
		position: relative
		padding-left: 40px
		+nosel
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 27px
			height: 27px
			border-radius: 50%
			background: #FFF
		&:after
			content: $icon-checked
			position: absolute
			font-size: 24px
			top: -2px
			left: 2px
			color: #90C53B
			font-family: 'fontello'
			+opacity(0)

.checkbox
	@extend .radiobox
	span
		&:before
			border-radius: 5px

//buttons
.btn
	position: relative
	padding: 15px 23px
	background: #5DC1E8
	font-size: 14px
	text-transform: uppercase
	line-height: 1
	color: #FFF
	border-radius: 50px
	box-shadow: 0px 3px 0px 0px #4FA3C4
	+rob-b
	+transition(background 0.2s ease)
	&-wrap
		text-align: center
	&:hover
		background: #4FA3C4
	&:active
		top: 1px
	&.is-olive
		background: #80A446
		box-shadow: 0px 3px 0px 0px #6c8642
		&:hover
			background: #6c8642
	&.is-green
		background: #00AA9F
		box-shadow: 0px 3px 0px 0px #00857c
		&:hover
			background: #00857C
	&.is-red
		background: #ED6247
		box-shadow: 0px 3px 0px 0px #ab4733
		&:hover
			background: #ab4733
	&.is-padding
		display: inline-block
		cursor: pointer
		padding: 0
		span
			display: block
			padding: 15px 23px 15px 53px
		.checkbox
			span
				padding-left: 53px
		&:active
			top: 0
	.cross-ico
		position: absolute
		top: 0
		left: 1px
		width: 42px
		height: 44px
		border-radius: 50%
		background: #66D4FF
		&:before
			content: ""
			position: absolute
			width: 2px
			top: 9px
			right: 9px
			left: 50%
			bottom: 9px
			margin-left: -1px
			background: #FFF
		&:after
			content: ""
			position: absolute
			height: 2px
			top: 50%
			right: 9px
			left: 9px
			bottom: 9px
			margin-top: -1px
			background: #FFF
	.checkbox
		border-radius: 50%
		span
			padding-left: 53px
			&:before
				width: 20px
				height: 20px
				top: 50%
				left: 12px
				border-radius: 20px
				margin-top: -10px
				box-shadow: 0 0 0 12px #66d4ff
				+box
			&:after
				top: 50%
				left: 12px
				margin-top: -10px

//form
.form
	&__group
		display: inline-block
		&:not(only-of-type)
			&:first-child
				vertical-align: middle
		&:first-child
			.form__bl
				&:first-child
					margin-right: 20px
	&__bl
		display: inline-block
		margin-right: 30px
		vertical-align: middle
		&.is-top
			vertical-align: top
	&__section
		display: block
		margin-bottom: 10px
		&.m-margin
			margin-bottom: 30px
		&.m-top
			margin-top: 15px
		&.m-bottom
			margin-bottom: 15px
		&.l-margin
			margin-top: 40px
		&.is-error
			position: relative
			.input
				border: 1px solid #ff7d64
			.icon-error
				margin-left: 35px
				opacity: 1
				visibility: visible
		.input
			+box
	&__divider
		margin: 30px 0 25px
	&__cut
		color: #2F5A71
		font-size: 14px
		+rob-l
		&.is-middle
			display: inline-block
			vertical-align: middle
	&__img
		width: 50px
		height: 50px
		background-color: #D9DFE1
		border-radius: 50%
		overflow: hidden
		img
			display: block
			max-width: 50px
			max-height: 50px
			margin: 0 auto
	&__input
		position: relative
		display: block
		margin-bottom: 10px
		+clr
		&.no-margin
			margin-bottom: 0
		&.calendar
			position: relative
			width: 180px
			&.is-error
				input
					border: 1px solid #ff7d64
			.icon-calendar
				position: absolute
				top: 50%
				margin-top: -11px
				right: 12px
				font-size: 16px
				color: #34B1E2
		&.is-error
			position: relative
			.input, .textarea
				border: 1px solid #ff7d64
			.icon-error
				opacity: 1
				visibility: visible
			.select2-selection
				border-color: #ff7d64 !important
		&.is-correct
			.input
				border: 2px solid #98C05C
			i.icon-correct
				position: absolute
				top: 50%
				left: 100%
				margin: -7.5px 0 0 5px
				font-size: 15px
				color: #9FC85D
	&__note
		position: absolute
		top: 100%
		right: 0
		margin-top: 5px
		font-size: 12px
		color: #BEC9CC
		+rob-cl
	&__load
		position: relative
		width: 225px
		height: 300px
		border: 1px dashed #c2c2c2
		text-align: center
		+vertical
		&-txt
			display: inline-block
			vertical-align: middle
			color: #9FB2B8
			font-size: 14px
			+rob-li
			b
				font-family: 'Arial'
				font-weight: 700
				font-style: italic
		&-ico
			position: relative
			width: 47px
			height: 47px
			margin: 0 auto 30px
			border: 2px solid #5dc1e8
			border-radius: 50%
			&:after
				content: "+"
				position: absolute
				top: 50%
				left: 50%
				margin: -12.5px 0 0 -7px
				font-size: 25px
				color: #5DC1E8
				line-height: 1
				+rob
	.input
		width: 100%
		padding: 7px 15px
		background-color: #FAFAFA
		font-size: 14px
		border-radius: 3px
		color: #2F5A71
		+rob-b
		+placeholder
			color: #9FB2B8
			+rob-li
		&.placeholder
			+placeholder
				font-size: 13px
				+rob
.input-load
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	cursor: pointer
	z-index: 2

.icon-error
	position: absolute
	top: 50%
	left: 100%
	margin: -7.5px 0 0 4px
	font-size: 14px
	color: #ff7d64
	line-height: 1
	cursor: pointer
	opacity: 0
	visibility: hidden
	+transition(opacity 0.2s ease)

//tooltip
.tooltip
	&.error
		&.in
			opacity: 1
		&.right
			margin-left: 2px
			.tooltip-arrow
				left: inherit
				right: 100%
				border-right-color: #ff7d64
				&:before
					content: ""
					position: absolute
					top: -7px
					left: 1px
					+arr(10, 14, #F6E0E0, l)
		&.left
			margin-right: 2px
			.tooltip-arrow
				left: 100%
				border-left-color: #ff7d64
				&:before
					content: ""
					position: absolute
					top: -7px
					right: 1px
					+arr(10, 14, #F6E0E0, r)
		&.bottom
			margin-top: 2px
			.tooltip-arrow
				top: inherit
				bottom: 100%
				border-bottom-color: #ff7d64
				&:before
					content: ""
					position: absolute
					top: 0
					left: 50%
					margin-left: -7px
					+arr(14, 10, #F6E0E0, t)
		&.top
			margin-bottom: 2px
			.tooltip-arrow
				top: 100%
				border-top-color: #ff7d64
				&:before
					content: ""
					position: absolute
					bottom: 0
					left: 50%
					margin-left: -7px
					+arr(14, 10, #F6E0E0, b)
		.tooltip-wrap
			position: relative
			width: 145px
		.tooltip-inner
			padding: 8px 10px
			text-align: left
			color: #666
			background: #F6E0E0
			border-radius: 20px
			border: 1px solid #ff7d64
			box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12)
			+nosel
			+rob-l

//textarea
.textarea-wrap
	position: relative
	padding: 0 15px
	.form__input
		&.is-details
			max-width: 820px
	.textarea
		max-width: 820px
	.icon-note
		font-size: 31px
	.icon-arrow
		position: absolute
		bottom: -18px
		left: -12px
		font-size: 25px
		color: #D9DFE1
		+transform(scale(-1, 1) rotate(-80deg))
	.icon-error
		margin-left: 20px

.textarea
	width: 100%
	height: 131px
	padding: 10px
	font-size: 14px
	background-color: #FAFAFA
	border-radius: 3px
	resize: none
	border: 1px solid #DCE6E6
	+box
	+placeholder
		color: #9FB2B8
		+rob-li
	&.readonly
		display: inline-block
		width: 375px
		min-height: 166px
		padding: 12px 5px 12px 15px
		color: #2F5A71
		font-size: 14px
		border: 1px solid #DCE6E6
		vertical-align: top
		+rob-l
		+box
	&.is-comment
		width: 335px
		min-height: 166px
	&.s-height
		height: 72px
	&__link
		display: inline-block
		text-decoration: none
		+script
		&:visited
			color: #5fc1e7
		span
			position: relative
			display: inline-block
			margin-left: 25px
			font-size: 13px
			color: #7C919E
			+transform(rotate(20deg))

//select
.select-wrap
	position: relative
	.select2.select2-container
		&.select2-container--focus
			.select2-selection
				border-color: darken(#DCE6E6, 20%)
		.select2-selection
			height: 40px
			padding: 0 13px
			font-size: 13px
			background-color: #FAFAFA
			border-radius: 3px
			border: 1px solid #dce6e6
			cursor: pointer
			+rob-b
			+transition(border-color 0.2s ease)
		.select2-selection__rendered
			padding-left: 0 !important
			line-height: 40px
			color: #2F5A71
			font-size: 13px
		.select2-selection__arrow
			position: absolute
			width: auto !important
			height: auto !important
			line-height: 1
			top: 50%
			right: 10px
			margin-top: -12px
			font-size: 24px
			color: #34b1e2
			&:before
				content: $icon-angle-down
				font-family: 'fontello'
			b
				display: none
		.select2-selection__placeholder
			color: #9FB2B8
			font-size: 14px
			+rob-li
	.jspDrag
		background: #5dc1e8
		border-radius: 8px
	.jspVerticalBar
		width: 8px
	.jspTrack
		background: #fafafa
		border-left: 1px solid #dce6e6
	.jspScrollable
		&:focus
			outline: none

.select2-container
	.select2-results__option
		color: #2F5A71
		font-size: 13px
		+rob-l
	.select2-results__option--highlighted[aria-selected]
		color: #2F5A71 !important
		background-color: transparent !important
		+rob-b
	.select2-results__option[aria-selected=true]
		background-color: transparent !important

//datepicker
.ui-datepicker.ui-widget
	width: 280px
	padding: 0
	background: #FFF
	font-size: 14px
	box-shadow: 1px 1px 10px 0px rgba(35,104,126, 0.25)
	z-index: 3 !important
	+rob-m
	td
		border: 1px solid #d0d4d9
	.ui-datepicker-header
		text-align: center
		padding: 6px 0
		background: #34B1E2
		color: #fff
	.ui-datepicker-month
		width: 96px
		padding: 0px 0 1px 5px
		font-size: 13px
		border-radius: 3px
		border: none
		background-position: right center
		background-repeat: no-repeat
		background-image: url(../img/svg/select-bg.svg)
		cursor: pointer
		-webkit-appearance: none
		-moz-appearance: none
		+rob
		&:-ms-expand
			display: none
	.ui-datepicker-year
		width: 96px
		margin-left: 10px
		padding: 0px 0 1px 5px
		font-size: 13px
		border-radius: 3px
		border: none
		background-repeat: no-repeat
		background-position: right center
		background-image: url(../img/svg/select-bg.svg)
		cursor: pointer
		-webkit-appearance: none
		-moz-appearance: none
		+rob
	.ui-state-default
		display: block
		padding: 10px 0
		text-decoration: none
		text-align: center
		color: #4D5155
	.ui-datepicker-calendar
		thead
			display: none
	.ui-datepicker-week-end a
		color: #cccfd3
	.ui-datepicker-today
		color: #34B1E2
		background: #EEF1F5
	.ui-state-highlight
		position: relative
		&:before
			content: ""
			position: absolute
			top: -0.1em
			left: -0.1em
			right: -0.1em
			bottom: -0.1em
			border: 1px solid #5bb7d4
	.ui-datepicker-calendar
		margin: 0
	.ui-datepicker-next,
	.ui-datepicker-prev
		position: absolute
		top: 8px
		color: #FFF
		text-decoration: none
		font-size: 0
		cursor: pointer
		&:before
			font-size: 20px
			font-family: 'fontello'
			line-height: 1
		&:hover
			color: #2F5A71
	.ui-datepicker-next
		right: 10px
		&:before
			content: "\e80c"
	.ui-datepicker-prev
		left: 10px
		&:before
			content: "\e80b"

.datepicker
	width: 100%
	padding: 11px 14px 12px
	background: #FAFAFA
	border: 1px solid #dce6e6
	border-radius: 5px
	color: #2F5A71
	cursor: pointer
	+rob-b
	+box
	+placeholder
		color: #9FB2B8
		+rob-li
	+unselectable

//range
.range
	margin-top: 50px
	padding: 0 40px
	+box
	.range__list
		position: relative
		height: 10px
		margin-bottom: 5px
		padding-left: 0
		list-style-type: none
		text-align: justify
		font-size: 0
		&:after
			content: ""
			width: 100%
			display: inline-block
		li
			position: absolute
			top: 5px
			left: 0
			width: 5px
			height: 28px
			margin-left: -2.5px
			background-color: #FCFCFC
			border-radius: 3px
			border: 1px solid #dee3e3
			+box
			span
				position: absolute
				margin-bottom: 10px
				left: 50%
				bottom: 100%
				white-space: nowrap
				+transform(translateX(-50%))
			&:last-child
				span
					+slab-l
			@for $i from 0 to 12
				$percent: 9.09%
				&:nth-child(#{$i+1})
					left: $percent * $i
		span
			color: #2F5A71
			font-size: 14px
			+slab-b
	&-wrap
		position: absolute
		left: 15px
		right: 15px
		bottom: 15px
		+box
		+clr
	&__el
		position: relative
		opacity: 0
		+transition(opacity 0.3s ease-in)
		&.is-visible
			opacity: 1
		&.is-low
			.range__bl
				&:before
					background-image: url(../img/low-bg.png)
		&.is-middle
			position: absolute
			width: 215px
			height: 235px
			left: 50%
			margin-left: -107.5px
			.range__bl
				&:before
					background-image: url(../img/svg/middle-bg.svg)
		&.is-high
			.range__message
				left: inherit
				right: 100%
				&:after
					+transform(scale(-1, 1))
			.range__bl
				&:before
					background-image: url(../img/svg/high-bg.svg)
	&__bl
		position: relative
		top: 0
		width: 215px
		height: 235px
		border-radius: 50%
		overflow: hidden
		background: url(../img/income-bg.png) center bottom no-repeat
		&:before
			content: ""
			position: absolute
			left: 50%
			bottom: 0
			width: 128px
			height: 235px
			margin-left: -64px
			background-repeat: no-repeat
			-webkit-background-size: cover
			-o-background-size: cover
			background-size: cover
	&__message
		position: absolute
		top: 0
		left: 100%
		width: 100%
		&:after
			content: ""
			position: absolute
			top: 0
			+svg(cloud-bg8, 220, 125)
	&__txt
		position: relative
		padding-top: 25px
		text-align: center
		font-size: 14px
		color: #FFF
		z-index: 1
		+rob-l
		.beautify
			font-size: 18px
			+nautilus
			span
				font-size: 36px
				line-height: 1.3
	.ui-slider
		position: relative
		border-radius: 4px
		height: 10px
		background: #fff
		&:before
			content: ""
			position: absolute
			height: 9px
			top: 0
			left: -10px
			right: -10px
			bottom: 0
			border: 1px solid #e0e5e5
			background: #fff
			border-radius: 5px
	.ui-slider-range
		position: absolute
		height: 10px
		background-attachment: fixed
		border-radius: 5px
		z-index: 1
		+background-image(linear-gradient(to right, #FB5B55 25%, #FFD76B 50%, #90C53B 80%))
	.ui-slider-handle
		position: absolute
		width: 27px
		height: 27px
		margin: -10px 0 0 -13.5px
		background-color: #D9DFE1
		border-radius: 50%
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2)
		z-index: 2
		cursor: default
		-ms-touch-action: none
		touch-action: none
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -5.5px 0 0 -5.5px
			width: 11px
			height: 11px
			background: #BCC2C4
			border-radius: 50%

//tags selector
.tags + .select2.select2-container
	&.select2-container--focus
		.select2-selection
			border-color: darken(#DCE6E6, 20%)
	.select2-selection
		min-height: 115px
		padding: 6px 0
		background-color: #fafafa
		border-radius: 3px
		border: 1px solid #DCE6E6
		+box
	.select2-selection--multiple .select2-selection__choice
		margin-bottom: 5px
		padding: 4px 5px 7px 5px
		font-size: 14px
		background: #5dc1e8
		color: #FFF
		border-radius: 3px
		border: none
		+rob-b
		+clr
	.select2-selection__choice__remove
		float: right
		margin-left: 5px
		color: #FFF !important
	.select2-search--inline .select2-search__field
		line-height: 30px
		color: #2F5A71
		+rob

//hint
.hint
	opacity: 0
	position: absolute
	top: 0
	right: -15px
	min-height: 200px
	margin-top: -60px
	z-index: -1
	overflow: hidden
	&:after
		content: ""
		position: absolute
		top: 125px
		right: -30px
		width: 75px
		height: 155px
		margin-top: -85px
		background-image: url(../img/svg/teacher-bg.svg)
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover
		+transform(rotate(-33deg) translateX(70px))
		+transition(transform 1s ease)
	&.is-visible
		opacity: 1
		z-index: 2
		&:after
			+transform(rotate(-33deg) translateX(0px))
	&__message
		position: relative
		max-width: 310px
		margin: 0 90px 10px 0
		padding: 11px 19px 11px 12px
		background-color: #FFF9E8
		border-radius: 20px
		box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12)
		color: #666
		font-size: 13px
		border: 1px solid #e0dbcc
		+rob-l
		+box
		span
			position: relative
			z-index: 1
		&:before
			content: ""
			position: absolute
			z-index: -1
		&:after
			content: ""
			position: absolute
		&.arr-bottom
			&:before
				top: 12px
				right: -15px
				+arr(15, 50, #e0dbcc, tr)
				+transform(rotate(-50deg))
			&:after
				top: 19px
				right: -14px
				+arr(10, 35, #fff9e8, tr)
				+transform(rotate(-50deg))
		&.arr-top
			&:before
				top: 6px
				right: -19px
				+arr(15, 50, #e0dbcc, tr)
				+transform(rotate(-125deg))
			&:after
				top: 11px
				right: -17px
				+arr(10, 35, #fff9e8, tr)
				+transform(rotate(-125deg))
		&.arr-bottom-middle
			&:before
				top: 50%
				margin-top: -21.5px
				right: -15px
				+arr(15, 50, #e0dbcc, tr)
				+transform(rotate(-50deg))
			&:after
				top: 50%
				margin-top: -14.5px
				right: -14px
				+arr(10, 35, #fff9e8, tr)
				+transform(rotate(-50deg))
		&.arr-bottom-left
			&:before
				bottom: -24px
				left: 50%
				margin-left: -8px
				+arr(17, 25, #e0dbcc, tl)
			&:after
				bottom: -22px
				left: 50%
				margin-left: -7px
				+arr(14, 22, #fff9e8, tl)
		&.arr-left
			&:before
				top: 15px
				left: 0
				margin-left: -15px
				+arr(11, 40, #e0dbcc, tl)
				+transform(rotate(50deg))
			&:after
				top: 10px
				left: 0
				margin-left: -7px
				+arr(10, 40, #fff9e8, tl)
				+transform(rotate(50deg))
		&.arr-bottom-right
			&:before
				bottom: -24px
				left: 50%
				margin-left: -9px
				+arr(17, 25, #e0dbcc, tr)
			&:after
				bottom: -22px
				left: 50%
				margin-left: -7px
				+arr(14, 22, #fff9e8, tr)
		.icon-cancel
			position: absolute
			top: 8px
			right: 8px
			width: 17px
			height: 17px
			background: #E0DBCC
			color: #fff9e8
			font-size: 16px
			border-radius: 20px
			text-decoration: none
			+transition(background 0.2s ease)
			&:before
				width: 9px
				position: absolute
				left: 50%
				margin-left: -4.5px
			&:visited
				color: #fef8e7
			&:hover
				background: #bd3941
		&.is-hidden
			display: none

//ie
.ie
	.header .form .input
		height: 33px

.ie9
	.range .ui-slider-range
		background-image: url(../img/gradient.jpg)
		background-position: 50% 50%