@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?42325875');
  src: url('fonts/fontello.eot?42325875#iefix') format('embedded-opentype'),
	   url('fonts/fontello.woff?42325875') format('woff'),
	   url('fonts/fontello.ttf?42325875') format('truetype'),
	   url('fonts/fontello.svg?42325875#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before { content: '\e800'; }
.icon-help:before { content: '\e801'; }
.icon-settings:before { content: '\e802'; }
.icon-exit:before { content: '\e803'; }
.icon-checked:before { content: '\e804'; }
.icon-arrow:before { content: '\e805'; }
.icon-ok:before { content: '\e806'; }
.icon-mail:before { content: '\e807'; }
.icon-pass:before { content: '\e808'; }
.icon-correct:before { content: '\e809'; }
.icon-error:before { content: '\e80a'; }
.icon-angle-left:before { content: '\e80b'; }
.icon-angle-right:before { content: '\e80c'; }
.icon-lamp:before { content: '\e80d'; }
.icon-uni:before { content: '\e80e'; }
.icon-feather:before { content: '\e80f'; }
.icon-calendar:before { content: '\e810'; }
.icon-clip:before { content: '\e811'; }
.icon-close:before { content: '\e812'; }
.icon-edit:before { content: '\e813'; }
.icon-angle-down:before { content: '\e814'; }
.icon-clock:before { content: '\e815'; }
.icon-security:before { content: '\e816'; }
.icon-language:before { content: '\e817'; }
.icon-globe:before { content: '\e818'; }
.icon-year:before { content: '\e819'; }
.icon-it:before { content: '\e81a'; }
.icon-tie:before { content: '\e81b'; }
.icon-auto:before { content: '\e81c'; }
.icon-bank:before { content: '\e81d'; }
.icon-waiter:before { content: '\e81e'; }
.icon-sale:before { content: '\e81f'; }
.icon-account:before { content: '\e820'; }
.icon-deputy:before { content: '\e821'; }
.icon-design:before { content: '\e822'; }
.icon-production:before { content: '\e823'; }
.icon-restaurant:before { content: '\e824'; }
.icon-realty:before { content: '\e825'; }
.icon-logistic:before { content: '\e826'; }
.icon-medicine:before { content: '\e827'; }
.icon-oil:before { content: '\e828'; }
.icon-transport:before { content: '\e829'; }
.icon-tourism:before { content: '\e82a'; }
.icon-guitar:before { content: '\e82b'; }
.icon-glasses:before { content: '\e82c'; }
.icon-certificate:before { content: '\e82d'; }
.icon-skill:before { content: '\e82e'; }
.icon-info:before { content: '\e82f'; }
.icon-hobby:before { content: '\e830'; }
.icon-note:before { content: '\e831'; }
.icon-person:before { content: '\e832'; }
.icon-works:before { content: '\e833'; }
.icon-chair:before { content: '\e834'; }
.icon-recommend:before { content: '\e835'; }
.icon-hamburger:before { content: '\e836'; }
.icon-achievement:before { content: '\e837'; }
.icon-cancel:before { content: '\e838'; }
.icon-save:before { content: '\e839'; }
.icon-print:before { content: '\e83a'; }
.icon-contacts:before { content: '\e83b'; }
.icon-avatar:before { content: '\e83c'; }
.icon-planet:before { content: '\e83d'; }
.icon-call:before { content: '\e83e'; }
.icon-twitter:before { content: '\e83f'; }
.icon-load:before { content: '\e840'; }
.icon-draft:before { content: '\e841'; }
.icon-checking:before { content: '\e842'; }
.icon-messages:before { content: '\e843'; }
.icon-back:before { content: '\e844'; }
.icon-trash:before { content: '\e845'; }
.icon-view:before { content: '\e846'; }

$icon-checked: '\e804';
$icon-error: '\e80a';