//content
.content
	&.is-main
		position: relative
		&:before,
		&:after
			content: ""
			position: absolute
			width: 50%
			top: 0
			bottom: 0
			z-index: -1
			+transition(background-color 0.2s ease-out)
		&:before
			left: 0
			background: url(../img/left-side.png) right bottom no-repeat
			background-color: #5BB7D4
		&:after
			right: 0
			background: url(../img/right-side.png) left bottom no-repeat
			background-color: #da5940
	&.left-grey
		&:before
			background-color: #a1aeb3
	&.right-grey
		&:after
			background-color: #a1aeb3

.main
	&__ttl
		padding-top: 55px
		font-size: 70px
		text-transform: uppercase
		text-align: center
		text-shadow: 2.5px 4.3px 0 rgba(0, 0, 0, 0.19)
		color: #FFF
		line-height: 0.9
		+slab-b
		span
			margin-left: -10px


//message
.message
	position: absolute
	top: 133px
	right: 47px
	&:before,
	&:after
		content: ""
		position: absolute
		left: -11px
		z-index: 0
	&:before
		top: 0
		+arr(11, 24, #6a8b99, tr)
	&:after
		bottom: 4.5px
		+arr(11, 24, #6a8b99, br)
	p
		padding: 9px 13px 5px 22px
		border-top: 1px dashed #C5C5C5
		border-bottom: 1px dashed #C5C5C5
		font-size: 21px
		color: #2F5A71
		line-height: 1
		+box
		+nautilus
	span
		color: #ED6247
	&__in
		position: relative
		display: inline-block
		padding: 5px 0
		background: #fff
		border-right: 5px solid #5495AA
		&:before,
		&:after
			content: ""
			position: absolute
			left: -10px
			z-index: 1
		&:before
			top: 0
			+arr(10, 24, #fff, tr)
		&:after
			bottom: 0
			+arr(10, 24, #fff, br)
	.helicopter-ico
		display: inline-block
		vertical-align: middle
		+s(helicopter)


//character
.character
	position: relative
	margin-top: 85px
	padding-bottom: 55px
	+clr
	&__bl
		position: relative
		width: 50%
		text-align: center
		cursor: pointer
		&:hover
			.character__img
				&:before
					height: 100%
				&.is-teacher
					&:before
						height: 350px
						+transform(translateY(145px))
		&.onright
			.icon-arrow
				left: inherit
				right: -50px
				+transform(scale(-1, 1))
		&.is-absolute
			position: absolute
			width: auto
			top: 50%
			left: 50%
			margin: -125px 0 0 -88px
			z-index: 2
			.icon-arrow
				left: inherit
				right: -35px
				+transform(scale(-1, 1))
	&__img
		position: relative
		display: block
		height: 567px
		margin: 10px auto 0
		z-index: 1
		&:before
			content: ""
			position: absolute
			left: 0
			bottom: 0
			height: 540px
			background-size: contain
			background-position: center center
			background-repeat: no-repeat
			+transition(all 0.3s ease)
		&.is-boy
			width: 234px
			&:before
				width: 234px
				background-image: url(../img/svg/boy-bg.svg)
		&.is-girl
			width: 221px
			&:before
				width: 221px
				background-image: url(../img/svg/girl-bg.svg)
		&.is-teacher
			width: 180px
			height: 214px
			overflow: hidden
			border-radius: 50%
			&:before
				width: 130px
				height: 350px
				left: 50%
				margin-left: -60px
				background-image: url(../img/svg/teacher-bg.svg)
				-webkit-background-size: contain
				-o-background-size: contain
				background-size: contain
				background-position: center center
				+transform(translateY(180px))
			&:after
				content: ""
				position: absolute
				left: 50%
				bottom: 0
				width: 162px
				height: 162px
				margin-left: -81px
				background-color: #757E82
				border-radius: 50%
				z-index: -1
			&.is-small
				&:before
					height: 350px
					+transform(translateY(220px))
		&.is-small
			&:before
				height: 475px
	&__choose
		position: absolute
		top: 45px
		left: 0
		text-align: center
		z-index: 2
		+nautilus
		+svg(cloud-bg, 184, 83)
		&.is-another
			top: 97px
			left: inherit
			right: 15px
			+svg(cloud-bg2, 135, 83)
		span
			display: inline-block
			margin-top: 22px
			font-size: 20px
			color: #2F5A71
	.radiobox
		position: relative
		font-size: 24px
		.radiobox__text
			color: #FFF
			line-height: 27px
			+op-bi
	.icon-arrow
		position: absolute
		top: 18px
		left: -60px
		font-size: 60px
		color: #FFF
		+opacity(0.3)

@keyframes pulse
	0%
		+transform(translate(0 , 0))
	20%
		+transform(translate(300px, 0))
	32%
		+transform(translate(300px, 20px))
	44%
		+transform(translate(300px, 0))
	56%
		+transform(translate(300px, -20px))
	68%
		+transform(translate(300px, 0))
	80%
		+transform(translate(300px, 20px))
	100%
		+transform(translate(1000px, 0))

@keyframes move
	0%
		+transform(translate(0 , 0))
	50%
		+transform(translate(10px , 0))
	100%
		+transform(translate(0, 0))