doctype html
html
	include head
	body.is-full
		.out.is-loading
			//BEGIN HEADER
			block header
				include header
			//END HEADER
			//BEGIN CONTENT
			.container
				block content
			//END CONTENT
		//BEGIN FOOTER
		include footer
		//END FOOTER

		script(src="js/lib/head.js", data-headjs-load="js/init.js")