extend _skeleton-is-inner

block title
	title Выбери желаемую должность

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Выбери желаемую должность
						.slide__in
							.career
								h2.h2
									| <i class="icon-tie"></i><span>В других областях:</span>
								.item-wrap
									a(href="#").item__bl
										.item__ico.it(style="background-image: url(img/svg/it.svg)")
										.item__in
											span IT
									a(href="#").item__bl
										.item__ico.auto(style="background-image: url(img/svg/auto.svg)")
										.item__in
											span Автосервис
									a(href="#").item__bl
										.item__ico.bank(style="background-image: url(img/svg/bank.svg)")
										.item__in
											span Банки
									a(href="#").item__bl
										.item__ico.waiter(style="background-image: url(img/svg/waiter.svg)")
										.item__in
											span Административная работа
									a(href="#").item__bl
										.item__ico.security(style="background-image: url(img/svg/security.svg)")
										.item__in
											span Охрана
									a(href="#").item__bl
										.item__ico.sale(style="background-image: url(img/svg/sale.svg)")
										.item__in
											span Продажи
									a(href="#").item__bl
										.item__ico.account(style="background-image: url(img/svg/account.svg)")
										.item__in
											span Бухгалтерия
									a(href="#").item__bl
										.item__ico.deputy(style="background-image: url(img/svg/deputy.svg)")
										.item__in
											span Гос. служба
									a(href="#").item__bl
										.item__ico.design(style="background-image: url(img/svg/design.svg)")
										.item__in
											span Дизайн
									a(href="#").item__bl
										.item__ico.production(style="background-image: url(img/svg/production.svg)")
										.item__in
											span Промышленность
									a(href="#").item__bl
										.item__ico.restaurant(style="background-image: url(img/svg/restaurant.svg)")
										.item__in

											span Рестораны
									a(href="#").item__bl
										.item__ico.realty(style="background-image: url(img/svg/realty.svg)")
										.item__in
											span Недвижимость
									a(href="#").item__bl
										.item__ico.logistic(style="background-image: url(img/svg/logistic.svg)")
										.item__in
											span Логистика
									a(href="#").item__bl
										.item__ico.medicine(style="background-image: url(img/svg/medicine.svg)")
										.item__in
											span Медицина
									a(href="#").item__bl
										.item__ico.oil(style="background-image: url(img/svg/oil.svg)")
										.item__in
											span Нефть
									a(href="#").item__bl
										.item__ico.transport(style="background-image: url(img/svg/transport.svg)")
										.item__in
											span Транспорт
									a(href="#").item__bl
										.item__ico.tourism(style="background-image: url(img/svg/tourism.svg)")
										.item__in
											span Туризм
									a(href="#").item__bl
										.item__ico.guitar(style="background-image: url(img/svg/guitar.svg)")
										.item__in
											span Другое
								.form
									form
										.form__section
											h4.h4.is-another.onleft Название должности:
											.form__input.is-error
												input.input(type="text" value="Архитектор мостов")
												i.icon-error(data-toggle="tooltip" data-placement="bottom" title="Поле заполнено неверно. Повторите попытку")
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico

