extend _skeleton-style

block title
	title Проверь свое резюме

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Проверь свое резюме
						.slide__in
							.check
								.check__ico
									a(href="#").icon-print
									a(href="#").icon-save
								figure.s-margin
									.form
										form
											.form__divider
												h3.h3
													span Личные данные
											.form__section
												h4.h4.no-margin.is-middle Фото для резюме:
												.form__cut.is-middle
													.form__img
														img(src="img/avatar.png" alt="")
													a(href="#").icon-edit
											.form__section
												h4.h4.onleft.no-margin Меня зовут:
												.form__cut
													span
														| Абросимов Иван Валерьевич<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Дата рождения:
												.form__cut
													span
														| 12.12.98<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Контакты:
												.form__cut.onleft
													p
														| +7 999 123-45-67<a href="#" class="icon-edit"></a>
													p
														| kovalev@26kadr.ru<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Ищу работу:
												.form__cut
													span
														| Москва<a href="#" class="icon-edit"></a>
											.form__divider
												h3.h3
													span Желаемая должность
											.form__section
												h4.h4.onleft.no-margin Название должности:
												.form__cut
													span
														| Инженер-механик по работе с населением<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Направление:
												.form__cut
													p
														| Строительство<a href="#" class="icon-edit"></a>
													p
														| Дорожное строительство<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Специальность:
												.form__cut.onleft
													span
														| Трубопровод<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Желаемая зарплата:
												.form__cut
													span
														| от 30 000 руб. до 45 000 руб.<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin График работы:
												.form__cut
													span
														| Полный рабочий день<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Тип занятости:
												.form__cut
													span
														| Проектная<a href="#" class="icon-edit"></a>
											.form__divider
												h3.h3
													span Опыт работы/практики
											.form__section
												h4.h4.onleft.no-margin График работы:
												.form__cut
													span
														| с 12.12.2014 по н/в<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Специализация:
												.form__cut
													span
														| Строительство<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Название компании:
												.form__cut.onleft
													span
														| Рога и копыта<a href="#" class="icon-edit"></a>
													span
														| www.abc.ru<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Должность:
												.form__cut
													span
														| Столяр<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Обязанности и функции:
												.form__cut.onleft
													textarea.textarea(readonly)
														| Вытачивание и изготовление изделий из дерева или на деревянной основе, изготовление мебели (столов, стульев, шкафов, сервантов, табуреток, тумбочек, полок и т. д.), окон, плинтусов, карнизов, лестниц, деревянных частей самолетов и фигурной резьбе по дереву. Распиливание и строгание вручную необлицованных брусковых деталей простого
													a(href="#").icon-edit
											.form__section
												h4.h4.onleft.no-margin Достижения:
												.form__cut.onleft
													textarea.textarea(readonly)
														| Вытачивание и изготовление изделий из дерева или на деревянной основе, изготовление мебели (столов, стульев, шкафов, сервантов, табуреток, тумбочек, полок и т. д.), окон, плинтусов, карнизов, лестниц, деревянных частей самолетов и фигурной резьбе по дереву. Распиливание и строгание вручную необлицованных брусковых деталей простого
													a(href="#").icon-edit
											.form__section
												h4.h4.onleft.no-margin Рекомендации:
												.form__cut
													span
														| Иван Пётр Николаевич<a href="#"><i class="icon-edit"></i></a>
													span
														| 8-495-123-45-67<a href="#" class="icon-edit"></a>
													a(href="#").form__link Добавить место работы
											.form__divider
												h3.h3
													span Образование и ключевые навыки
											.form__section
												h4.h4.onleft.no-margin Период обучения:
												.form__cut
													span
														| с 12.12.2014 по н/в<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Учебное заведение:
												.form__cut
													span
														| Колледж Архитектуры и Дизайна №26<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Направление:
												.form__cut.onleft
													span
														| Архитектура<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Специальность:
												.form__cut
													span
														| Архитектор мостов<a href="#" class="icon-edit"></a>
													a(href="#").form__link Добавить место учебы
											.form__section
												h4.h4.onleft.no-margin Ключевые навыки:
												.form__cut.onleft
													p
														| навыки бюджетирования<a href="#" class="icon-edit"></a>
													p
														| навыки делового общения<a href="#" class="icon-edit"></a>
													p
														| навыки деловой переписки<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Допуски и сертификаты:
												.form__cut.onleft
													span.is-gray
														| Сертификат “Строительно-монтажные работы”<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Личные качества:
												.form__cut
													span.max-width
														| Организован, собран, быстро обучаюсь, развитые аналитические способности, опыт и навыки подготовки и проведения презентаций.
													a.icon-edit
											.form__divider
												h3.h3
													span Курсы или дополнительное образование
											.form__section
												h4.h4.onleft.no-margin Период обучения:
												.form__cut
													span.is-gray
														| не заполнено<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Учебное заведение:
												.form__cut
													span.is-gray
														| не заполнено<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Название курса:
												.form__cut.onleft
													span.is-gray
														| не заполнено<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Иностранный язык:
												.form__cut
													span
														| Английский язык-читаю со словарем<a href="#" class="icon-edit"></a>
											.form__section
												h4.h4.onleft.no-margin Портфолио:
												.form__cut.onleft
													p.is-underline
														| <i class="icon-clip"></i>Мои достижения.doc<a href="#" class="icon-close"></a><a href="#" class="icon-edit"></a>
													p.is-underline
														| <i class="icon-clip"></i>Мои достижения.doc<a href="#" class="icon-close"></a><a href="#" class="icon-edit"></a>
											.form__divider
												h3.h3
													span Хобби
											.form__section
												h4.h4.onleft.no-margin Мои хобби:
												.form__cut
													span
														| Играю в футбол, фотографирую<a href="#" class="icon-edit"></a>
								figure
									figcaption
										button.btn.is-olive Отправить эксперту на проверку
										button.btn.is-green Отправить работодателю
										button.btn Сохранить как черновик
