extend _skeleton-is-inner

block title
	title Курсы или дополнительное образование

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide.courses-bg
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Курсы или дополнительное образование
						.slide__in
							.courses.js-parent
								span.icon-angle-down.is-up.js-up
								.courses__wrap.js-wrap
									.courses__in.js-list
										.slide__subttl
											h2.h2
												i.icon-lamp
												span Последнее место обучения:
										.form-wrap.js-clone
											section
												.form
													form
														.form__bl
															h4.h4 С:
															.form__input.calendar
																input(type="text" value="25.05.2012" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															h4.h4 По:
															.form__input.calendar
																input(type="text" placeholder="Выберите дату" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															label.radiobox
																input(type="checkbox" name="time" value="1")
																span по настоящее время
											figure.no-margin
												.form
													form
														.form__section
															h4.h4.is-another
																i.icon-uni
																span Учебное заведение:
															.form__input.no-margin
																input(type="text" placeholder="Напр. МГУ").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__section
															h4.h4.is-another
																i.icon-feather
																span Название курса:
															.form__input.no-margin
																input(type="text" placeholder="Напр. Архитектура").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
											a(href='#').icon-cancel-circled-outline.js-remove
										.form-wrap.js-clone
											section
												.form
													form
														.form__bl
															h4.h4 С:
															.form__input.calendar
																input(type="text" value="25.05.2012" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															h4.h4 По:
															.form__input.calendar
																input(type="text" placeholder="Выберите дату" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															label.radiobox
																input(type="checkbox" name="time" value="1")
																span по настоящее время
											figure.no-margin
												.form
													form
														.form__section
															h4.h4.is-another
																i.icon-uni
																span Учебное заведение:
															.form__input.no-margin
																input(type="text" placeholder="Напр. МГУ").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__section
															h4.h4.is-another
																i.icon-feather
																span Название курса:
															.form__input.no-margin
																input(type="text" placeholder="Напр. Архитектура").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
											a(href='#').icon-cancel-circled-outline.js-remove
										.form-wrap.js-clone
											section
												.form
													form
														.form__bl
															h4.h4 С:
															.form__input.calendar
																input(type="text" value="25.05.2012" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															h4.h4 По:
															.form__input.calendar
																input(type="text" placeholder="Выберите дату" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															label.radiobox
																input(type="checkbox" name="time" value="1")
																span по настоящее время
											figure.no-margin
												.form
													form
														.form__section
															h4.h4.is-another
																i.icon-uni
																span Учебное заведение:
															.form__input.no-margin
																input(type="text" placeholder="Напр. МГУ").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__section
															h4.h4.is-another
																i.icon-feather
																span Название курса:
															.form__input.no-margin
																input(type="text" placeholder="Напр. Архитектура").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
											a(href='#').icon-cancel-circled-outline.js-remove
										.form-wrap.js-clone
											section
												.form
													form
														.form__bl
															h4.h4 С:
															.form__input.calendar
																input(type="text" value="25.05.2012" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															h4.h4 По:
															.form__input.calendar
																input(type="text" placeholder="Выберите дату" readonly).datepicker
																i.icon-calendar
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__bl
															label.radiobox
																input(type="checkbox" name="time" value="1")
																span по настоящее время
											figure.no-margin
												.form
													form
														.form__section
															h4.h4.is-another
																i.icon-uni
																span Учебное заведение:
															.form__input.no-margin
																input(type="text" placeholder="Напр. МГУ").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
														.form__section
															h4.h4.is-another
																i.icon-feather
																span Название курса:
															.form__input.no-margin
																input(type="text" placeholder="Напр. Архитектура").input
																i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
											a(href='#').icon-cancel-circled-outline.js-remove
										//- .form-wrap.js-clone
										//- 	section
										//- 		.form
										//- 			form
										//- 				.form__bl
										//- 					h4.h4 С:
										//- 					.form__input.calendar
										//- 						input(type="text" value="25.05.2012" readonly).datepicker
										//- 						i.icon-calendar
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 				.form__bl
										//- 					h4.h4 По:
										//- 					.form__input.calendar
										//- 						input(type="text" placeholder="Выберите дату" readonly).datepicker
										//- 						i.icon-calendar
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 				.form__bl
										//- 					label.radiobox
										//- 						input(type="checkbox" name="time" value="1")
										//- 						span по настоящее время
										//- 	figure.no-margin
										//- 		.form
										//- 			form
										//- 				.form__section
										//- 					h4.h4.is-another
										//- 						i.icon-uni
										//- 						span Учебное заведение:
										//- 					.form__input.no-margin
										//- 						input(type="text" placeholder="Напр. МГУ").input
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 				.form__section
										//- 					h4.h4.is-another
										//- 						i.icon-feather
										//- 						span Название курса:
										//- 					.form__input.no-margin
										//- 						input(type="text" placeholder="Напр. Архитектура").input
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 	a(href='#').icon-cancel-circled-outline.js-remove
										//- .form-wrap.js-clone
										//- 	section
										//- 		.form
										//- 			form
										//- 				.form__bl
										//- 					h4.h4 С:
										//- 					.form__input.calendar
										//- 						input(type="text" value="25.05.2012" readonly).datepicker
										//- 						i.icon-calendar
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 				.form__bl
										//- 					h4.h4 По:
										//- 					.form__input.calendar
										//- 						input(type="text" placeholder="Выберите дату" readonly).datepicker
										//- 						i.icon-calendar
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 				.form__bl
										//- 					label.radiobox
										//- 						input(type="checkbox" name="time" value="1")
										//- 						span по настоящее время
										//- 	figure.no-margin
										//- 		.form
										//- 			form
										//- 				.form__section
										//- 					h4.h4.is-another
										//- 						i.icon-uni
										//- 						span Учебное заведение:
										//- 					.form__input.no-margin
										//- 						input(type="text" placeholder="Напр. МГУ").input
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 				.form__section
										//- 					h4.h4.is-another
										//- 						i.icon-feather
										//- 						span Название курса:
										//- 					.form__input.no-margin
										//- 						input(type="text" placeholder="Напр. Архитектура").input
										//- 						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										//- 	a(href='#').icon-cancel-circled-outline.js-remove
								span.icon-angle-down.is-visible.js-down
							.btn.is-padding.js-add
								i.cross-ico
								span Добавить курсы повышения квалификации
