extend _skeleton-is-inner

block title
	title Твой опыт работы и практики

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide.experience-bg
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Твой опыт работы и практики
						.slide__in
							.experience
								h2.h2
									i.icon-tie
									span Последнее место работы:
								section.s-margin
									.form
										form
											.form__bl
												h4.h4 С:
												.form__input.calendar.is-error
													input(type="text" value="25.05.2012" readonly).datepicker
													i.icon-calendar
													i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
											.form__bl
												h4.h4 По (Н4):
												.form__input.calendar.is-error
													input(type="text" placeholder="Выберите дату" readonly).datepicker
													i.icon-calendar
													i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
											.form__bl
												label.radiobox
													input(type="checkbox" name="time" value="1")
													span по настоящее время
								figure.js-parent
									figcaption.s-pad
										h2.h2
											| <i class="icon-chair"></i><span>Кем ты работал:</span>
									.experience-wrap
										span.icon-angle-down.is-up.js-up
										.item-list-wrap.is-overflow.js-wrap
											ul.item-list.js-list
												li: a(href="#" data-val="Автомеханик").item__link Автомеханик
												li: a(href="#" data-val="Архитектор мостов").item__link Архитектор мостов
												li: a(href="#" data-val="Изготовитель таблеток").item__link.active Изготовитель таблеток
												li: a(href="#" data-val="Реклама").item__link Реклама
												li: a(href="#" data-val="Штукатур").item__link Штукатур
												li: a(href="#" data-val="Информационные системы").item__link Информационные системы
												li: a(href="#" data-val="Информационные системы").item__link Информационные системы
												li: a(href="#" data-val="Архитектор мостов").item__link Архитектор мостов
												li: a(href="#" data-val="Изготовитель таблеток").item__link Изготовитель таблеток
												li: a(href="#" data-val="Реклама").item__link Реклама
												li: a(href="#" data-val="Штукатур").item__link Штукатур
												li: a(href="#" data-val="Информационные системы").item__link Информационные системы
												li: a(href="#" data-val="Архитектор мостов").item__link Архитектор мостов
												li: a(href="#" data-val="Изготовитель таблеток").item__link Изготовитель таблеток
												li: a(href="#" data-val="Автомеханик").item__link Автомеханик
												li: a(href="#" data-val="Архитектор мостов").item__link Архитектор мостов
												li: a(href="#" data-val="Изготовитель таблеток").item__link.active Изготовитель таблеток
												li: a(href="#" data-val="Реклама").item__link Реклама
												li: a(href="#" data-val="Штукатур").item__link Штукатур
												li: a(href="#" data-val="Информационные системы").item__link Информационные системы
												li: a(href="#" data-val="Информационные системы").item__link Информационные системы
												li: a(href="#" data-val="Архитектор мостов").item__link Архитектор мостов
												li: a(href="#" data-val="Изготовитель таблеток").item__link Изготовитель таблеток
												li: a(href="#" data-val="Реклама").item__link Реклама
												li: a(href="#" data-val="Штукатур").item__link Штукатур
												li: a(href="#" data-val="Информационные системы").item__link Информационные системы
												li: a(href="#" data-val="Архитектор мостов").item__link Архитектор мостов
												li: a(href="#" data-val="Изготовитель таблеток").item__link Изготовитель таблеток
										span.icon-angle-down.is-visible.js-down
									.form
										form
											.form__section
												h2.h2
													i.icon-chair
													span Название должности:
												.form__input.is-error
													input.input(type="text" value="Изготовитель таблеток").js-input
													i.icon-error(data-toggle="tooltip" data-placement="bottom" title="Поле заполнено неверно. Повторите попытку")
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico

