head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="css/screen.css" media="screen,print")
	link(rel="stylesheet", href="css/select2.min.css" media="screen,print")
	<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
	block title
		title template