header.header
	.l-center
		.header__wrap
			.header__in
				a(href="#").logo.onleft
					| Твое<span>Резюме</span>
				.header__sign.onright
					span Войти с помощью
					a(href="#").header__social
						i.icon-vk
					p.header__or
						| или <a href="#" class="js-sign">по паролю</a>
			.form.js-form
				form
					.form__input.is-error
						i.icon-mail
						input(type="email" placeholder="Электронная почта").input.placeholder
						i.icon-error(data-toggle="tooltip" data-placement="left" title="Поле заполнено неверно. Повторите попытку")
					.form__input.is-error
						i.icon-pass
						input(type="password" placeholder="Пароль").input.placeholder
						i.icon-error(data-toggle="tooltip" data-placement="left" title="Поле заполнено неверно. Повторите попытку")
					a(href="#").form__link напомнить пароль
					button(type="submit").form__btn Вход