extend _skeleton-loading

block title
	title Загрузка

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.l-center
		.loading-wrap
			.loading
				.loading__clouds
				.loading__helicopter