extend _skeleton

block title
	title Главная

block content
	.content.is-main
		.l-center
			.message
				.message__in
					p <span>875</span> человек уже нашли с нами работу
				i.helicopter-ico
			.main
				h1.main__ttl На<span>ч</span>ни прямо сейчас!
				.character
					.character__bl.onleft.js-hover
						label.radiobox
							input(type="radio" name="character" value="boy")
							span.radiobox__text Я парень
								.icon-arrow
							p.character__img.is-boy
					.character__bl.is-absolute.js-hover
						label.radiobox
							input(type="radio" name="character" value="teacher")
							span.radiobox__text Я учитель
								.icon-arrow
							p.character__img.is-teacher
					.character__bl.onright.js-hover
						label.radiobox
							input(type="radio" name="character" value="girl")
							span.radiobox__text Я девушка
								.icon-arrow
							p.character__img.is-girl
					.character__choose
						span Выбери персонажа
					.character__choose.is-another
						span Выбери меня