extend _skeleton-is-inner

block title
	title Личные данные

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Личные данные
						.slide__in
							.personal
								.form
									form
										.form__section
											h4.h4.is-another
												i.icon-avatar
												span Меня зовут:
											.form__group
												label.form__input.is-error
													input(type="text" placeholder="Фамилия").input
													i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
												label.form__input.is-error
													input(type="text" placeholder="Имя").input
													i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
												label.form__input.is-error
													input(type="text" placeholder="Отчество").input
													i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
										.form__wrap.onleft
											.social
												a(href="#").vk-ico
													i.icon-vk
												a(href="#").tw-ico
													i.icon-twitter
												a(href="#").add-ico
											.form__section
												h4.h4.is-another
													i.icon-year
													span Дата рождения:
												label.calendar(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
													input(type="text" value="25.05.2012" readonly).datepicker
													i.icon-calendar
											.form__section
												h4.h4.is-another
													i.icon-contacts
													span Контакты:
												label.form__input(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
													i.icon-call
													input(type="tel" placeholder="Введите телефон").input.with-pad
												label.form__input(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
													i.icon-mail
													input(type="email" placeholder="Введите эл. почту").input.with-pad
											.form__section
												h4.h4.is-another
													i.icon-planet
													span Ищу работу:
												.select-wrap
													select.js-select(style="width: 100%; height: 40px;" data-placeholder="Выберите город")
														option
														option Красный
														option Зеленый
														option Синий
														option Красный
														option Зеленый
														option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, voluptatum!
														option Красный
														option Зеленый
														option Синий
														option Красный
														option Зеленый
														option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, voluptatum!
										.form__bl.onright
											.form__load
												.form__load-txt
													.form__load-ico
													p Загрузите фото
													b 225х300 px
												input(type="file").input-load
											.avatar
												.form__img
													img(src="img/avatar.png", alt="")
												p Аватар
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico

