extend _skeleton-loading

block title
	title Вход в систему

block content
	.content
		.popup
			.popup-bg.is-girl
			.popup__in
				.popup__ttl.m-bottom: p Вход в систему
				form.form
					label.form__input.is-correct
						i.icon-pass
						input(type="password" value="55555577").input.placeholder
						i.icon-correct
					label.form__input.is-error
						i.icon-mail
						input(type="email" placeholder="Электронная почта").input.placeholder
						i.icon-error(data-toggle="tooltip" data-placement="right" title="Поле заполнено неверно. Повторите попытку")
					a(href="#").form__link напомнить пароль
					button(type="submit").form__btn Вход
			.popup-shadow