extend _skeleton-is-inner

block title
	title Выбери режим работы

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1: span Выбери режим работы
						.slide__in
							.regime
								h4.h4.is-another
									| <i class="icon-clock"></i><span>График работы</span>
								.regime__wrap
									.regime__bl
										label.radiobox
											input(type="radio" name="time" value="full" checked)
											span
											.regime__clock
												p.regime__p Полный день
												input(type="text" value="75" data-angleOffset="270" data-width="170" data-thickness="34px" readonly).dial
									.regime__bl
										label.radiobox
											input(type="radio" name="time" value="remote")
											span
											.regime__clock
												p.regime__p Удаленная работа
												input(type="text" value="10" data-angleOffset="100" data-width="170" data-thickness="34px" readonly).dial
									.regime__bl
										label.radiobox
											input(type="radio" name="time" value="shiftable")
											span
											.regime__clock
												p.regime__p Сменный график
												input(type="text" value="50" data-angleOffset="85" data-width="170" data-thickness="34px" readonly).dial
									.regime__bl
										label.radiobox
											input(type="radio" name="time" value="elastic")
											span
											.regime__clock
												p.regime__p Гибкий график
												input(type="text" value="29" data-angleOffset="-175" data-width="170" data-thickness="34px" readonly).dial
								.regime__bg
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico
						ul.slide-nav-indication
							li.is-active
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
							li
								span
