extend _skeleton-is-inner

block title
	title Твои профессиональные навыки

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Твои профессиональные навыки
						.slide__in
							.skills
								h2.h2
									| <i class="icon-info"></i><span>Выбери или укажи ключевые навыки</span>
								.skills__wrap
									span.icon-angle-down.is-up.js-up
									.item-list-wrap.is-overflow
										ul.item-list.js-list
											li: a(href="#").item__link Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
											li: a(href="#").item__link.active Реставрация
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Изготовитель таблеток
											li: a(href="#").item__link Реклама
											li: a(href="#").item__link Штукатур
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Знание иностранных языков
											li: a(href="#").item__link Знание языков программирования
											li: a(href="#").item__link Навыки планирования продаж
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Реклама
											li: a(href="#").item__link Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
											li: a(href="#").item__link.active Реставрация
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Изготовитель таблеток
											li: a(href="#").item__link Реклама
											li: a(href="#").item__link Штукатур
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Знание иностранных языков
											li: a(href="#").item__link Знание языков программирования
											li: a(href="#").item__link Навыки планирования продаж
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Реклама
											li: a(href="#").item__link Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
											li: a(href="#").item__link.active Реставрация
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Изготовитель таблеток
											li: a(href="#").item__link Реклама
											li: a(href="#").item__link Штукатур
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Знание иностранных языков
											li: a(href="#").item__link Знание языков программирования
											li: a(href="#").item__link Навыки планирования продаж
											li: a(href="#").item__link Навыки делового общения
											li: a(href="#").item__link Реклама
									span.icon-angle-down.js-down
								.skills__bl
									h2.h2
										| <i class="icon-skill"></i><span>Что ты знаешь и умеешь делать:</span>
									select(style="width: 100%; height: 115px" multiple="multiple").tags.js-tags
										option(selected="selected") Архитектор
										option(selected="selected") Знание языков программирования
										option(selected="selected") Навыки осуществления закупок товара
										option(value="Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса") Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
										option(value="Реставрация") Реставрация
										option(value="Навыки делового общения") Навыки делового общения
										option(value="Изготовитель таблеток") Изготовитель таблеток
										option(value="Реклама") Реклама
										option(value="Штукатур") Штукатур
										option Навыки делового общения
										option Знание иностранных языков
										option Знание языков программирования
										option Навыки планирования продаж
										option Навыки делового общения
										option Реклама
								.skills__teacher.onright
									.skills__message
										span Рекомендация сделает резюме привлекательнее
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico


