extend _skeleton-is-inner

block title
	title Твои профессиональные навыки

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Твои профессиональные навыки
						.slide__in
							.skills
								h2.h2
									| <i class="icon-info"></i><span>Выбери или укажи ключевые навыки</span>
								.skills__wrap
									span.icon-angle-down.is-up.js-up
									.item-list-wrap.is-overflow
										ul.item-list.js-list
											li: a(href="#" data-val="Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса").item__link Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
											li: a(href="#" data-val="Реставрация").item__link.active Реставрация
											li: a(href="#" data-val="Навыки делового общения").item__link Навыки делового общения
											li: a(href="#" data-val="Изготовитель таблеток").item__link Изготовитель таблеток
											li: a(href="#" data-val="Реклама").item__link Реклама
											li: a(href="#" data-val="Штукатур").item__link Штукатур
											li: a(href="#" data-val="Навыки делового общения").item__link Навыки делового общения
											li: a(href="#" data-val="Знание иностранных языков").item__link Знание иностранных языков
											li: a(href="#" data-val="Знание языков программирования").item__link Знание языков программирования
											li: a(href="#" data-val="Навыки планирования продаж").item__link Навыки планирования продаж
											li: a(href="#" data-val="Навыки делового общения").item__link Навыки делового общения
											li: a(href="#" data-val="Реклама").item__link Реклама
											li: a(href="#" data-val="Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса").item__link Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
											li: a(href="#" data-val="Реставрация").item__link.active Реставрация
											li: a(href="#" data-val="Навыки делового общения").item__link Навыки делового общения
											li: a(href="#" data-val="Изготовитель таблеток").item__link Изготовитель таблеток
											li: a(href="#" data-val="Реклама").item__link Реклама
											li: a(href="#" data-val="Штукатур").item__link Штукатур
											li: a(href="#" data-val="Навыки делового общения").item__link Навыки делового общения
											li: a(href="#" data-val="Знание иностранных языков").item__link Знание иностранных языков
											li: a(href="#" data-val="Знание языков программирования").item__link Знание языков программирования
											li: a(href="#" data-val="Навыки планирования продаж").item__link Навыки планирования продаж
											li: a(href="#" data-val="Навыки делового общения").item__link Навыки делового общения
											li: a(href="#" data-val="Реклама").item__link Реклама
									span.icon-angle-down.is-visible.js-down
								.skills__bl
									h2.h2
										| <i class="icon-skill"></i><span>Что ты знаешь и умеешь делать:</span>
									select(style="width: 100%; height: 115px" multiple="multiple").tags.js-tags
										option(value="Архитектор" selected="selected") Архитектор
										option(value="Знание языков программирования" selected="selected") Знание языков программирования
										option(value="Навыки осуществления закупок товара" selected="selected") Навыки осуществления закупок товара
										option(value="Навыки делового общения") Навыки делового общения
										option(value="Навыки планирования продаж") Навыки планирования продаж
										option(value="Штукатур") Штукатур
										option(value="Реклама") Реклама
										option(value="Знание иностранных языков") Знание иностранных языков
										option(value="Изготовитель таблеток") Изготовитель таблеток
										option(value="Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса") Навык расчета основных технико-экономические показателей деятельности производственного участка, технологического процесса
								.skills__teacher.onright
									.skills__message
										span Рекомендация сделает резюме привлекательнее
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico


