ul.slide-nav-indication
	li.active: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")
	li: a(href="#")