a(href="#").slide-nav-prev
	.slide-nav-in
		i.triangle-ico
		i.icon-angle-left
		span Назад
	i.line-ico
a(href="#").slide-nav-next
	.slide-nav-in
		i.triangle-ico
		span Далее
		i.icon-angle-right
	i.line-ico
ul.slide-nav-indication
	li.active: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span
	li: span