extend _skeleton-is-inner

block title
	title Создание резюме

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide.start-bg
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Выбери режим работы
						.slide__in
							.slide__teacher
							.slide__txt.start
								.slide__message: p А теперь приступим к созданию резюме!
								button(type="button").btn Старт
						include slide-nav