extend _skeleton-is-inner

block title
	title Твой колледж

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide.study-bg
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Расскажи о своей учебе
						.slide__in
							.study.another-pad
								h2.h2
									| <i class="icon-uni"></i><span>Учебное заведение</span>
								.item-wrap.max-width
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college1.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college2.jpg", alt="")
									a(href="#").item__bl.no-bg.active
										.item__in
											img(src="img/college3.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college4.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college5.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college6.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college7.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college8.jpg", alt="")
									a(href="#").item__bl.no-bg
										.item__in
											img(src="img/college9.jpg", alt="")
								.study__select
									h4.h4.is-another.onleft
										i.icon-globe
										span Твоя группа
									.select-wrap
										.select
											span.select__span Выберите группу
											i.icon-angle-down
											ul.select__list.js-scroll
												li(data-attr="Красный"): a(href="#") Красный
												li(data-attr="Синий"): a(href="#") Синий
												li(data-attr="Зелёный"): a(href="#") Зелёный
												li(data-attr="Красный"): a(href="#") Красный
												li(data-attr="Синий"): a(href="#") Синий
												li(data-attr="Зелёный"): a(href="#") Зелёный
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico

