extend _skeleton-is-inner

block title
	title Расскажи о своей учебе

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide.study-bg
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Расскажи о своей учебе
						.slide__in
							.study
								h4.h4.is-another
									| <i class="icon-year"></i><span>Год поступления</span>
								.item-wrap.max-width
									a(href="#").item__bl
										span 2009
									a(href="#").item__bl
										span 2010
									a(href="#").item__bl
										span 2011
									a(href="#").item__bl
										span 2012
									a(href="#").item__bl.is-active
										span 2013
									a(href="#").item__bl
										span 2014
						include slide-nav