extend _skeleton-style

block title
	title Стилевая страница

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>
					.header__settings
						a(href="#")
							i.icon-help
							p Помощь
						a(href="#")
							i.icon-settings
							p Настройки
						a(href="#")
							i.icon-exit
							p Выход

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Выбери режим работы
						.slide__in
							.slide__subttl
								i.icon-lamp
								h2.h2 Последнее место обучения (Н2):
							section.no-margin
								.form
									form
										.form__group
											.form__bl.is-top
												h4.h4 С:
												label.calendar
													input(type="text" value="25.05.2012" readonly).datepicker
													i.icon-calendar
											.form__bl.is-top
												h4.h4 По (Н4):
												label.calendar
													input(type="text" placeholder="Выберите дату" readonly).datepicker
													i.icon-calendar
										.form__group
											.form__bl.is-top
												label.checkbox
													input(type="checkbox" checked)
													span по настоящее время
											.form__bl.is-top
												label.radiobox
													input(type="radio" name="time" value="1" checked)
													span по настоящее время
												label.radiobox
													input(type="radio" name="time" value="2")
													span по ненастоящее время
							figure
								.form.is-margin
									form
										.form__section
											h4.h4.is-another
												i.icon-uni
												span Учебное заведение:
											.select-wrap
												select.js-select(style="width: 100%; height: 40px;" data-placeholder="Напр. МГУ")
													option
													option Напр. МГУ
													option Зеленый
													option Синий
													option Красный
													option Зеленый
													option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, voluptatum!
													option Красный
													option Зеленый
													option Синий
													option Красный
													option Зеленый
													option Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, voluptatum!
										.form__section
											h4.h4.is-another
												i.icon-feather
												span Название курса:
											label.form__input.is-error.js-error.no-margin
												input(type="text" placeholder="Напр. Архитектура").input
												.error-wrap
													i.icon-error
													.error-message Поле заполнено неверно. Повторите попытку
										.form__divider
											h3.h3
												span Личные данные(Н3)
										.form__section
											h4.h4 Учебное заведение:
											label.form__input.no-margin
												input(type="text" placeholder="Напр. Архитектура").input
										.form__section.m-margin
											h4.h4 Название курса:
											label.form__input.no-margin
												input(type="text" value="МГУ ПРГР мкий").input.small-txt
												span.form__note *необязательное поле
										.form__section.m-margin
											h4.h4.onleft.is-float Название курса:
											.form__cut.onleft
												p.is-underline
													i.icon-clip
													span Мои достижения.doc
													a(href='#').icon-close
													a(href="#").icon-edit
												p.is-underline
													i.icon-clip
													span Мои достижения длинное название.doc
													a(href='#').icon-close
													a(href="#").icon-edit
										.form__section
											h4.h4.onleft.is-float Рекомендации:
											.form__cut.onleft
												span
													| Иван Пётр Николаевич<a href="#"><i class="icon-edit"></i></a>
												span
													| 8-495-123-45-67<a href="#" class="icon-edit"></a>
											a(href="#").form__link.onright Добавить место работы
								.btn.is-padding
									i.cross-ico
									span Добавить курсы повышения квалификации
								.btn.is-padding
									label.checkbox
										input(type="checkbox" checked)
										span Нет опыта работы
							section
								h2.h2 Последнее место обучения (Н2):
								p.
									Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
									Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
									<a href="#">Также все другие</a> известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
									<a href="#">Это делает предлагаемый</a> здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
									В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или <a href="#">"невозможных" слов.</a>
							article
								h3.h3 Личные данные (Н3):
								div
									img(src="img/style-img.jpg", alt="")
									p.
										Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
										Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
										Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
										Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
										В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
							section
								div
									h4.h4 Нумерованный список (H4):
									ol
										li: span Есть много вариантов Lorem Ipsum
										li: span Большинство из них имеет не приемлемые модификации
										li: span Например, юмористические вставки или слова
										li: span Отдалённо не напоминают латынь
										li: span Если вам нужен
								div
									h4.h4 Маркированный список (H4):
									ul
										li: span Есть много вариантов Lorem Ipsum
										li: span Большинство из них имеет не приемлемые модификации
										li: span Например, юмористические вставки или слова
										li: span Отдалённо не напоминают латынь
										li: span Если вам нужен
							blockquote
								p.
									Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
									Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
							figure
								figcaption
									button.btn.is-olive Отправить эксперту на проверку
									button.btn.is-green Отправить работодателю
									button.btn Сохранить как черновик
						a(href="#").slide-nav-prev
							.slide-nav-in
								i.triangle-ico
								i.icon-angle-left
								span Назад
							i.line-ico
						a(href="#").slide-nav-next
							.slide-nav-in
								i.triangle-ico
								span Далее
								i.icon-angle-right
							i.line-ico

