extend _skeleton-style

block title
	title Стилевая страница

block header
	header.header
		.l-center
			.header__wrap
				.header__in
					a(href="#").logo.onleft
						| Твое<span>Резюме</span>
					.header__settings
						a(href="#")
							i.icon-help
							p Помощь
						a(href="#")
							i.icon-settings
							p Настройки
						a(href="#")
							i.icon-exit
							p Выход

block content
	.content.is-inner
		.l-wide
			.paper
				i.rect-ico
				i.rect-ico-2
				.slide
					.l-center
						.slide-title
							i.clip-ico
							h1.h1 Выбери режим работы
						.slide__in
							.slide__subttl
								i.icon-lamp
								h2.h2 Последнее место обучения (Н2):
							section.no-margin
								.form
									form
										.form__group
											.form__bl
												h4.h4 С:
												label.calendar
													input(type="text" value="25.05.2012" readonly).datepicker
													i.icon-calendar
											.form__bl
												h4.h4 По (Н4):
												label.calendar
													input(type="text" placeholder="Выберите дату" readonly).datepicker
													i.icon-calendar
										.form__group
											.form__bl
												label.checkbox
													input(type="checkbox" checked)
													span по настоящее время
											.form__bl
												label.radiobox
													input(type="radio" name="time" value="1" checked)
													span по настоящее время
												label.radiobox
													input(type="radio" name="time" value="2")
													span по ненастоящее время
							figure
								.form.is-margin
									form
										.form__section
											i.icon-uni
											h4.h4.onleft.is-another Учебное заведение:
											.select-wrap
												.select
													span.select__span Напр. МГУ
													i.icon-angle-down
													ul.select__list.js-scroll
														li(data-attr="Красный"): a(href="#") Красный
														li(data-attr="Синий"): a(href="#") Синий
														li(data-attr="Зелёный"): a(href="#") Зелёный
														li(data-attr="Красный"): a(href="#") Красный
														li(data-attr="Синий"): a(href="#") Синий
														li(data-attr="Зелёный"): a(href="#") Зелёный
										.form__section
											i.icon-feather
											h4.h4.onleft.is-another Название курса:
											label.form__input.is-error.js-error
												input(type="text" placeholder="Напр. Архитектура").input
												.error-message Поле заполнено неверно. Повторите попытку
										.form__section.is-margin
											h3.h3.onleft Личные данные(Н3)
											label.special
												input(type="text")
										.form__section
											h4.h4.onleft Учебное заведение:
											label.form__input
												input(type="text" placeholder="Напр. Архитектура").input
										.form__section
											h4.h4.onleft Название курса:
											label.form__input
												input(type="text" value="МГУ ПРГР мкий").input
												span.form__note *необязательное поле
										.form__section
											h4.h4.onleft.no-margin Название курса:
											.form__cut
												p
													| <i class="icon-clip"></i>Мои достижения.doc<a href="#" class="icon-close"></a><a href="#" class="icon-edit"></a>
												p
													| <i class="icon-clip"></i>Мои достижения длинное название.doc<a href="#" class="icon-close"></a><a href="#" class="icon-edit"></a>
										.form__section
											h4.h4.onleft.no-margin Рекомендации:
											.form__cut
												span
													| Иван Пётр Николаевич<a href="#"><i class="icon-edit"></i></a>
												span
													| 8-495-123-45-67<a href="#"><i class="icon-edit"></i></a>
												a(href="#").form__link Добавить место работы
								button(type="button").btn.is-padding
									| <i class="cross-ico"></i>Добавить курсы повышения квалификации
								.btn.is-padding
									label.checkbox
										input(type="checkbox" checked)
										span
									| Нет опыта работы
							section
								h2.h2 Последнее место обучения (Н2):
								p.
									Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
									Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
									<a href="#">Также все другие</a> известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
									<a href="#">Это делает предлагаемый</a> здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
									В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или <a href="#">"невозможных" слов.</a>
							article
								h3.h3 Личные данные (Н3):
								div
									img(src="img/style-img.jpg", alt="")
									p.
										Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
										Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
										Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
										Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
										В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
							section
								div
									h4.h4 Нумерованный список (H4):
									ol
										li: span Есть много вариантов Lorem Ipsum
										li: span Большинство из них имеет не приемлемые модификации
										li: span Например, юмористические вставки или слова
										li: span Отдалённо не напоминают латынь
										li: span Если вам нужен
								div
									h4.h4 Маркированный список (H4):
									ul
										li: span Есть много вариантов Lorem Ipsum
										li: span Большинство из них имеет не приемлемые модификации
										li: span Например, юмористические вставки или слова
										li: span Отдалённо не напоминают латынь
										li: span Если вам нужен
							blockquote
								p.
									Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
									Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
							figure
								figcaption
									button.btn.is-olive Отправить эксперту на проверку
									button.btn.is-green Отправить работодателю
									button.btn Сохранить как черновик
						include slide-nav
